@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kolory bazowe – LIGHT */
:root {
  --bg1: #1d2829;
  --bg2: #181e1f;
  --bg3: #131314;
  --bg4: #131314;
  --bg5: #181e1f;
  --bg6: #1d2829;
}

/* DARK – nadpisuje tylko wartości */
.dark {
  --bg1: #0f1415;
  --bg2: #0c0f10;
  --bg3: #080809;
  --bg4: #080809;
  --bg5: #0c0f10;
  --bg6: #0f1415;
}

/* Utility z gradientem */
@layer utilities {
  .bg-app-gradient {
    background: linear-gradient(
      90deg,
      var(--bg1) 0%,
      var(--bg2) 11%,
      var(--bg3) 41%,
      var(--bg4) 58%,
      var(--bg5) 85%,
      var(--bg6) 100%
    );
  }
  .bg-app-light {
    /* delikatnie chłodny szaro-turkusowy, pasuje do Twojej stylistyki */
    background-image: linear-gradient(
      90deg,
      rgba(245, 248, 248, 1) 0%,
      /* #F5F8F8 */ rgba(240, 244, 244, 1) 11%,
      /* #F0F4F4 */ rgba(233, 236, 237, 1) 41%,
      /* #E9ECEF */ rgba(233, 236, 237, 1) 58%,
      rgba(240, 244, 244, 1) 85%,
      rgba(245, 248, 248, 1) 100%
    );
  }
}
